doctype html
html
  head
    title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 Welcome
    p
      | Welcome to title 
      br
      //- br
      //- | Written by: 
      //- a(href='http://obydul.me') Md Obydullah
      //- br
      //- br
      //- | Published on: 
      //- a(href='https://www.mynotepaper.com') mynotepaper.com
